{% extends "base.html" %}
{% import "_macros.html" as macros %}
{% import "bootstrap/wtf.html" as wtf %}


{% block title %}首页{% endblock %}

{% block content %}
    <script src="{{ url_for('static', filename='echarts.min.js') }}"></script>
    <script src="{{ url_for('static', filename='china.js') }}"></script>
    <script src="{{ url_for('static', filename='jquery-1.6.js') }}"></script>


 <!-- Bootstrap core CSS -->
    <link href="bootstrap-3.3.7/docs/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="bootstrap-3.3.7/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="bootstrap-3.3.7/docs/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="bootstrap-3.3.7/assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="bootstrap-3.3.7/assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->

<style>
body {
  padding-top: 50px;
  background-image: radial-gradient(#2828FF,#191970, black);
}
.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}
/* Hide for mobile, show later */
.main{
  margin: 0px;
  padding: 20px;
}


@media (min-width: 768px) {
  .main{
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main.page-header{
  margin-top: 0;
}
.placeholders{
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4{
  margin-bottom: 0;
}
.placeholder{
  margin-bottom: 20px;
}
.placeholder img{
  display: inline-block;
  border-radius: 50%;
}
</style>

  
<div class="visible-xs-block"></div>
<h2 style="text-align: center; color:white; margin-top:80px" >全国高校信息</h2>
<div class=" col-xs-12 col-xs-offset-8 col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" style="color: deepskyblue">
<div class="row placeholders">
<div class="col-xs-6 col-sm-3 placeholder">
<!-- 为 ECharts 准备一个具备大小（宽高）的 DOM -->
<table border="0" style="border-color: #87CEFA; margin-left:-40px">
    <div style="margin-left:-20px;margin-top:-30px;position: absolute"><h4><strong>75所部属高校连通情况查询</strong></h4></div>
<tr>
    <td>
      <table>
        <tr>
    <div class="container" style="width:270px;margin-top:-470px;">
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingOne" >
                <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne"> 华北（26所） </a> </h4>
              </div>
              <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
                <div class="panel-body">

                <p><a href="search1/北京大学">北京大学</a></p>
                <p><a href="search1/清华大学">清华大学</a></p>
                <p><a href="search1/中国人民大学">中国人民大学</a></p>
                <p><a href="search1/北京师范大学">北京师范大学</a></p>
                <p><a href="search1/中国农业大学">中国农业大学</a></p>
                <p><a href="search1/北京外国语大学">北京外国语大学</a></p>
                <p><a href="search1/北京语言大学">北京语言大学</a></p>
                <p><a href="search1/北京科技大学">北京科技大学</a></p>
                <p><a href="search1/北京化工大学">北京化工大学</a></p>
                <p><a href="search1/北京交通大学">北京交通大学</a></p>
                <p><a href="search1/北京邮电大学">北京邮电大学</a></p>
                <p><a href="search1/中国地质大学（北京）">中国地质大学（北京）</a></p>
                <p><a href="search1/中国矿业大学（北京）">中国矿业大学（北京）</a></p>
                <p><a href="search1/中国石油大学（北京）">中国石油大学（北京）</a></p>
                <p><a href="search1/北京林业大学">北京林业大学</a></p>
                <p><a href="search1/中国传媒大学">中国传媒大学</a></p>
                <p><a href="search1/中央财经大学">中央财经大学</a></p>
                <p><a href="search1/中国政法大学">中国政法大学</a></p>
                <p><a href="search1/中央音乐学院">中央音乐学院</a></p>
                <p><a href="search1/中央戏剧学院">中央戏剧学院</a></p>
                <p><a href="search1/中央美术学院">中央美术学院</a></p>
                <p><a href="search1/北京中医药大学">北京中医药大学</a></p>
                <p><a href="search1/对外经济贸易大学">对外经济贸易大学</a></p>
                <p><a href="search1/华北电力大学">华北电力大学</a></p>
                <p><a href="search1/南开大学">南开大学</a></p>
                <p><a href="search1/天津大学">天津大学</a></p>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingTwo">
                <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"> 华东（21所） </a> </h4>
              </div>
              <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <div class="panel-body">
                <p><a href="search1/复旦大学">复旦大学</a></p>
                <p><a href="search1/上海交通大学">上海交通大学</a></p>
                <p><a href="search1/同济大学">同济大学</a></p>
                <p><a href="search1/华东理工大学">华东理工大学</a></p>
                <p><a href="search1/东华大学">东华大学</a></p>
                <p><a href="search1/华东师范大学">华东师范大学</a></p>
                <p><a href="search1/上海外国语大学">上海外国语大学</a></p>
                <p><a href="search1/上海财经大学">上海财经大学</a></p>
                <p><a href="search1/南京大学">南京大学</a></p>
                <p><a href="search1/东南大学">东南大学</a></p>
                <p><a href="search1/中国矿业大学">中国矿业大学</a></p>
                <p><a href="search1/河海大学">河海大学</a></p>
                <p><a href="search1/江南大学">江南大学</a></p>
                <p><a href="search1/南京农业大学">南京农业大学</a></p>
                <p><a href="search1/中国药科大学">中国药科大学</a></p>
                <p><a href="search1/浙江大学">浙江大学</a></p>
                <p><a href="search1/合肥工业大学">合肥工业大学</a></p>
                <p><a href="search1/厦门大学">厦门大学</a></p>
                <p><a href="search1/山东大学">山东大学</a></p>
                <p><a href="search1/中国海洋大学">中国海洋大学</a></p>
                <p><a href="search1/中国石油大学（华东）">中国石油大学（华东）</a></p>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingThree">
                <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree"> 华中（9所） </a> </h4>
              </div>
              <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <div class="panel-body">
                <p><a href="search1/武汉大学">武汉大学</a></p>
                <p><a href="search1/华中科技大学">华中科技大学</a></p>
                <p><a href="search1/武汉理工大学">武汉理工大学</a></p>
                <p><a href="search1/中南财经政法大学">中南财经政法大学</a></p>
                <p><a href="search1/华中师范大学">华中师范大学</a></p>
                <p><a href="search1/华中农业大学">华中农业大学</a></p>
                <p><a href="search1/中国地质大学（武汉）">中国地质大学（武汉）</a></p>
                <p><a href="search1/中南大学">中南大学</a></p>
                <p><a href="search1/湖南大学">湖南大学</a></p>
                </div>
              </div>
            </div>
              <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingFour">
                <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour"> 西北（6所） </a> </h4>
              </div>
              <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
                <div class="panel-body">
                <p><a href="search1/西安交通大学">西安交通大学</a></p>
                <p><a href="search1/长安大学">长安大学</a></p>
                <p><a href="search1/西安电子科技大学">西安电子科技大学</a></p>
                <p><a href="search1/西北农林科技大学">西北农林科技大学</a></p>
                <p><a href="search1/陕西师范大学">陕西师范大学</a></p>
                <p><a href="search1/兰州大学">兰州大学</a></p>
                </div>
              </div>
            </div>
              <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingFive">
                <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive"> 西南（6所）</a> </h4>
              </div>
              <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
                <div class="panel-body">
                <p><a href="search1/重庆大学">重庆大学</a></p>
                <p><a href="search1/西南大学">西南大学</a></p>
                <p><a href="search1/四川大学">四川大学</a></p>
                <p><a href="search1/西南财经大学">西南财经大学</a></p>
                <p><a href="search1/西南交通大学">西南交通大学</a></p>
                <p><a href="search1/电子科技大学">电子科技大学</a></p>

                </div>
              </div>
            </div>
              <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingSix">
                <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix"> 东北（5所） </a> </h4>
              </div>
              <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
                <div class="panel-body">
                <p><a href="search1/大连理工大学">大连理工大学</a></p>
                <p><a href="search1/东北大学">东北大学</a></p>
                <p><a href="search1/吉林大学">吉林大学</a></p>
                <p><a href="search1/东北师范大学">东北师范大学</a></p>
                <p><a href="search1/东北林业大学">东北林业大学</a></p>
                </div>
              </div>
            </div>
              <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingSeven">
                <h4 class="panel-title"> <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven"> 华南（2所）</a> </h4>
              </div>
              <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
                <div class="panel-body">
                <p><a href="search1/中山大学">中山大学</a></p>
                <p><a href="search1/华南理工大学">华南理工大学</a></p>

                </div>
              </div>
            </div>

          </div>
    </div>
            </td>
        </tr>
        <tr>
          <td>
            <div style="width: 250px;margin-bottom:-300px;margin-left:-20px;color: deepskyblue;" >
            <div class="row">
            <div>
              <ul>
                {{ wtf.quick_form(form) }} <br />
                {{ wtf.quick_form(form1) }}
              </ul>
            </div>
            </div>
            </div>
          </td>
        </tr>

      </table>
    </td>
          
          


<td>
  <div id="china-map" style="width:1050px;height:1050px;margin-left: -50px"></div>        <!--中国地图-->
        <script type="text/javascript">
        var myChart = echarts.init(document.getElementById('china-map'));
        var seriesData = [{
          name: '北京',
          value: 0
        }, {
          name: '天津',
          value: 0
        }, {
          name: '上海市',
          value: 0
        }, {
          name: '重庆',
          value: 0
        }, {
          name: '河北',
          value: 0
        }, {
          name: '河南',
          value: 0
        }, {
          name: '云南',
          value: 0
        }, {
          name: '辽宁',
          value: 0
        }, {
          name: '黑龙江',
          value: 0
        }, {
          name: '湖南',
          value: 0
        }, {
          name: '安徽',
          value: 0
        }, {
          name: '山东',
          value: 0
        }, {
          name: '新疆',
          value: 0
        }, {
          name: '江苏',
          value: 0
        }, {
          name: '浙江',
          value: 0
        }, {
          name: '江西',
          value: 0
        }, {
          name: '湖北',
          value: 0
        }, {
          name: '广西',
          value: 0
        }, {
          name: '甘肃',
          value: 0
        }, {
          name: '山西',
          value: 0
        }, {
          name: '内蒙古',
          value: 0
        }, {
          name: '陕西',
          value: 0
        }, {
          name: '吉林',
          value: 0
        }, {
          name: '福建',
          value: 0
        }, {
          name: '贵州',
          value: 0
        }, {
          name: '广东',
          value: 0
        }, {
          name: '青海',
          value: 0
        }, {
          name: '西藏',
          value: 0
        }, {
          name: '四川',
          value: 0
        }, {
          name: '宁夏',
          value: 0
        }, {
          name: '海南',
          value: 0
        }, {
          name: '台湾',
          value: 0
        }, {
          name: '香港',
          value: 0
        }, {
          name: '澳门',
          value: 0
        }];
  
    initEcharts("china", " ");
    // 初始化echarts
    function initEcharts(pName, Chinese_) {
      var tmpSeriesData = pName === "china" ? seriesData : [];
      var option = {
        title: {
          text: Chinese_ || pName,
          left: 'center'
        },
          tooltip: {
              trigger: 'item',
              formatter: '{b} '
          },
        series: [
          {
            name: Chinese_ || pName,
            type: 'map',
            mapType: pName,
            roam: false,//是否开启鼠标缩放和平移漫游
            data: tmpSeriesData,
            top: "3%",//组件距离容器的距离
              zoom:1.1,
              selectedMode : 'single',

              label: {
                  normal: {
                      show: true,//显示省份标签
                      textStyle:{color:"#fbfdfe"}//省份标签字体颜色
                  },
                  emphasis: {//对应的鼠标悬浮效果
                      show: true,
                      textStyle:{color:"#323232"}
                  }
              },
              itemStyle: {
                  normal: {
                      borderWidth: .5,//区域边框宽度
                      borderColor: '#0550c3',//区域边框颜色
                      areaColor:"#00BFFF",//区域颜色

                  },

                  emphasis: {
                      borderWidth: .5,
                      borderColor: '#4b0082',
                      areaColor:"#ece39e",
                  }
              },
          }
        ]
            };
          
        myChart.setOption(option);
        myChart.off("click");
        if (pName === "china") { // 全国时，添加click 进入省级
          myChart.on('click', function (param) {
            console.log(param.name);
            if (param.name === "上海" || param.name === "北京" || param.name === "天津" || param.name === "重庆")
                window.location.href='search/'+param.name+'市';
            else if(param.name=== "香港" || param.name === "澳门")
                window.location.href='search/'+param.name+'特别行政区';
            else if(param.name=== "广西")
                window.location.href='search/'+param.name+'壮族自治区';
            else if(param.name=== "宁夏")
                window.location.href='search/'+param.name+'回族自治区';
            else if(param.name=== "新疆")
                window.location.href='search/'+param.name+'维吾尔自治区';
            else if(param.name=== "西藏"|| param.name=== "内蒙古")
                window.location.href='search/'+param.name+'自治区';
            else
                window.location.href='search/'+param.name+'省';
  
              if (param.componentType === 'series') {
                  var provinceName =param.name;
                  $('#box').css('display','block');
                  $("#box-title").html(provinceName);
              }
          });
        }
      }
    </script>
  </td>
{#              <div style="width: 500px;height: 10px;color: white;margin-bottom: -30px;margin-left: 400px;text-align: center;">全国获取的高校网站一共有{{Count}}个，其中有{{Count1}}个部署了ipv6<br /><strong>请在地图上点击要查询的省份</strong></div>#}

    <td>
        {% if pagination %}
<div style="margin-top:-300px;width:470px">
    {{ macros.pagination_widget(pagination, '.index')}}
</div>
{% endif %}

     <table>
        <table border="3" style="border-color: slateblue;">
        <thead class="w-100" >
        <tr class="row m-0" style="height: 100px;overflow:auto; color:white">
            <td><strong>单位</strong></td>
            <td><strong>URL</strong></td>
{#            <td class="col-md-1"><strong>http/IPv4</strong></td>#}
{#            <td class="col-md-1"><strong>https/IPv4</strong></td>#}
{#            <td class="col-md-1"><strong>http2/IPv4</strong></td>#}
            <td><strong>http/IPv6</strong></td>
            <td><strong>https/IPv6</strong></td>
{#            <td class="col-md-1"><strong>http2/IPv6</strong></td>#}
        </tr>
        </thead>
        <tbody class="w-100">
        {% for i in content %}
            <tr class="row m-0" style="height: 100px; overflow:auto; color:white">
                <td>{{ i[0] }}</td>
                <td><a href="{{ i[1] }}" target="_blank">{{ i[1] }}</a></td>
{#                <td class="col-md-1">{{ i[2] }}</td>#}
{#                <td class="col-md-1">{{ i[3] }}</td>#}
{#                <td class="col-md-1">{{ i[4] }}</td>#}
                <td>{{ i[5] }}</td>
                <td>{{ i[6] }}</td>
{#                <td class="col-md-1">{{ i[7] }}</td>#}
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% if pagination %}
<div>
    {{ macros.pagination_widget(pagination, '.index') }}
</div>


<h4 style="text-align:justify; text-justify:inter-ideograph;">注：此表只显示v6连通情况，查看完整信息请下载表格</h4>
<button type="button" id="btn1" style="background-color:midnightblue;color:lightgray">点击此处下载完整表格</button>
<script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript">
$(function(){
  var $eleBtn1 = $("#btn1");
  var $eleBtn2 = $("#btn2");
  $eleBtn1.click(function()
  {
    window.open("http://127.0.0.1:5000/download");
  });
})
</script>

{% endif %}
        </td>
        </tr>
      <tr>
          <table border="0" style="border-color: slateblue; margin-left:-40px; margin-top:-223px">
              <tr>

          <td>
                  <div  class="BoxWrap">
                      <div  class="horn">
                          <div class="lt"></div>
                          <div class="rt"></div>
                          <div class="rb"></div>
                          <div class="lb"></div>
                          <div id="main2" style="width: 580px;height:360px;"></div>
                      </div>
                  </div>
                  <script type="text/javascript">
                      var myChart2 = echarts.init(document.getElementById('main2'));
    var   option2 = {
                  title : {
                      text: '各省份高校网站',
                      subtext: '测试结果',
                      textStyle: {
                        color: 'orange'
                      }
                  },
              tooltip : {
                  trigger: 'axis'
              },
              legend: {
                  data:['网站总数','v6数目'],
                  textStyle: {
                    color: 'orange'
                  }
              },
              toolbox: {
                  show : true,
                  feature : {
                      mark : {show: true},
                      dataView : {show: true, readOnly: false},
                      magicType : {show: true, type: ['line', 'bar']},
                      restore : {show: true},
                      saveAsImage : {show: true}
                  },
                  iconStyle: {
                    normal:{
                      color: 'white',    //设置颜色
                    }
                  }
              },
              calculable : true,
              xAxis : [
                  {
                      type : 'category',
                      boundaryGap : false,
                      data : ["北京市","天津市","上海市","重庆市","河北省","山西省","辽宁省","吉林省","黑龙江省","江苏省",
                      "浙江省","安徽省","福建省","江西省","山东省","河南省","湖北省","湖南省","广东省","海南省",
                      "四川省","贵州省","云南省","陕西省","甘肃省","青海省","台湾省","内蒙古自治区","广西壮族自治区",
                      "西藏自治区","宁夏回族自治区","新疆维吾尔自治区","香港特别行政区","澳门特别行政区"],
                      axisLine: {
                        lineStyle:{
                          color: 'orange'
                        },
                      }
                  }
              ],
              yAxis : [
                  {
                      type : 'value',
                      axisLabel : {
                          formatter: '{value}'
                      },
                      axisLine:{
                        lineStyle:{
                          color: 'orange'
                        },
                      }
                  }
              ],
              series : [
                  {
                      name:'网站总数',
                      type:'line',
                      data:[{{pro_all['北京市']}},{{pro_all['天津市']}},{{pro_all['上海市']}},{{pro_all['重庆市']}},{{pro_all['河北省']}},{{pro_all['山西省']}},{{pro_all['辽宁省']}},
                            {{pro_all['吉林省']}},{{pro_all['黑龙江省']}},{{pro_all['江苏省']}},{{pro_all['浙江省']}},{{pro_all['安徽省']}},{{pro_all['福建省']}},
                            {{pro_all['江西省']}},{{pro_all['山东省']}},{{pro_all['河南省']}},{{pro_all['湖北省']}},{{pro_all['湖南省']}},{{pro_all['广东省']}},
                            {{pro_all['海南省']}},{{pro_all['四川省']}},{{pro_all['贵州省']}},{{pro_all['云南省']}},{{pro_all['陕西省']}},{{pro_all['甘肃省']}},
                            {{pro_all['青海省']}},{{pro_all['台湾省']}},{{pro_all['内蒙古自治区']}},{{pro_all['广西壮族自治区']}},{{pro_all['西藏自治区']}},
                            {{pro_all['宁夏回族自治区']}},{{pro_all['新疆维吾尔自治区']}},{{pro_all['香港特别行政区']}},{{pro_all['澳门特别行政区']}}],
                      markPoint : {
                          data : [
                              {type : 'max', name: '最大值'},
                              {type : 'min', name: '最小值'}
                          ]
                      },
                      markLine : {
                          data : [
                              {type : 'average', name: '平均值'}
                          ]
                      },
                      itemStyle: {
                        normal: {
                          color: 'red',
                          lineStyle: {
                            color: 'red'
                          }
                        }
                      }
                  },

                  {
                      name:'v6数目',
                      type:'line',
                      data:[{{pro['北京市']}},{{pro['天津市']}},{{pro['上海市']}},{{pro['重庆市']}},{{pro['河北省']}},{{pro['山西省']}},{{pro['辽宁省']}},
                            {{pro['吉林省']}},{{pro['黑龙江省']}},{{pro['江苏省']}},{{pro['浙江省']}},{{pro['安徽省']}},{{pro['福建省']}},
                            {{pro['江西省']}},{{pro['山东省']}},{{pro['河南省']}},{{pro['湖北省']}},{{pro['湖南省']}},{{pro['广东省']}},
                            {{pro['海南省']}},{{pro['四川省']}},{{pro['贵州省']}},{{pro['云南省']}},{{pro['陕西省']}},{{pro['甘肃省']}},
                            {{pro['青海省']}},{{pro['台湾省']}},{{pro['内蒙古自治区']}},{{pro['广西壮族自治区']}},{{pro['西藏自治区']}},
                            {{pro['宁夏回族自治区']}},{{pro['新疆维吾尔自治区']}},{{pro['香港特别行政区']}},{{pro['澳门特别行政区']}}],
                      markPoint : {
                          data : [
                              {name : '最低', value : -2, xAxis: 1, yAxis: -1.5}
                          ]
                      },
                      markLine : {
                          data : [
                              {type : 'average', name : '平均值'}
                          ]
                      },
                      itemStyle: {
                        normal: {
                          color: 'yellow',
                          lineStyle: {
                            color: 'yellow'
                          }
                        }
                      }
                  }
              ]
          };
    myChart2.setOption(option2);
    </script>
          </td>
          <td>
              <div  class="BoxWrap">
                      <div  class="horn">
                          <div class="lt"></div>
                          <div class="rt"></div>
                          <div class="rb"></div>
                          <div class="lb"></div>
                          <div id="main3" style="width: 580px;height:360px;"></div>
                      </div>
                  </div>

                    <script type="text/javascript">
                        var myChart3 = echarts.init(document.getElementById('main3'));
                            var   option3 = {
                title : {
                    text: '全国高校v6测试',
                    subtext: 'v6占比',
                    x:'center',
                    textStyle: {
                      color:'orange'
                    }
                },
                tooltip : {
                    trigger: 'item',
                    formatter: "{a} <br/>{b} : {c} ({d}%)"
                },
                legend: {
                    orient : 'vertical',
                    x : 'left',
                    data:['v6网站数','非v6网站数'],
                    textStyle: {
                      color: 'orange'
                    }
                },
                toolbox: {
                    show : true,
                    feature : {
                        mark : {show: true},
                        dataView : {show: true, readOnly: false},
                        magicType : {
                            show: true,
                            type: ['pie', 'funnel'],
                            option: {
                                funnel: {
                                    x: '25%',
                                    width: '50%',
                                    funnelAlign: 'left',
                                    max: 1548
                                }
                            }
                        },
                        restore : {show: true},
                        saveAsImage : {show: true}
                    },
                    iconStyle: {
                      normal: {
                        color: 'white',
                      }
                    }
                },
                calculable : true,

                color:['#32CD32','#4169E1'],
                series : [
                    {
                        name:'全国v6测试',
                        type:'pie',
                        radius : '55%',
                        center: ['50%', '60%'],
                label: {
                            normal: {
                                show: true,
                                formatter: '{b} \n {c}({d}%)'
                            }
                        },
                        data:[
                            {value:{{Count1}}, name:'v6网站数'},
                            {value:{{Count}}-{{Count1}}, name:'非v6网站数'}
                        ]
                    }
                ]
            };
            myChart3.setOption(option3);
            </script>
          </td>
          <td>
              <div  class="BoxWrap">
                      <div  class="horn">
                          <div class="lt"></div>
                          <div class="rt"></div>
                          <div class="rb"></div>
                          <div class="lb"></div>
                          <div id="main4" style="width: 580px;height:360px;"></div>
                      </div>
                  </div>
        <script type="text/javascript">
        //  基于准备好的dom，初始化echarts实例
        var t = new Date();
        var mon = t.getMonth();
        var myChart4 = echarts.init(document.getElementById('main4'));
        var option4 = {
            title : {
                text: '每月v6可访问数',
                subtext: '测试结果',
                textStyle:{
                  color:'orange'
                }
            },
            tooltip : {
                trigger: 'axis'
            },
            legend: {
                data:['v6网站数量'],
                textStyle: {
                  color:'orange'
                }
            },
            toolbox: {
                show : true,
                feature : {
                    mark : {show: true},
                    dataView : {show: true, readOnly: false},
                    magicType : {show: true, type: ['line', 'bar']},
                    restore : {show: true},
                    saveAsImage : {show: true}
                },
                iconStyle:{
                  normal:{
                    color: 'white',
                  }
                }
            },
            calculable : true,
            xAxis : [
                {
                    type : 'category',
                    boundaryGap : false,
                    data : [ (mon+1)%12+1+'月', (mon+2)%12+1 + '月', (mon+3)%12+1 + '月', (mon+4)%12+1 + '月',
                          (mon+5)%12+1+'月', (mon+6)%12+1 + '月', (mon+7)%12+1 + '月', (mon+8)%12+1 + '月',
                          (mon+9)%12+1+'月', (mon+10)%12+1+'月',(mon+11)%12+1+'月', (mon+12)%12+1+'月'],
                    axisLine: {
                      lineStyle:{
                        color: 'orange'
                      },
                    }
                }
            ],
            yAxis : [
                {
                    type : 'value',
                    axisLabel : {
                        formatter: '{value}'
                    },
                    axisLine: {
                      lineStyle:{
                        color:'orange'
                      },
                    }
                }
            ],
            series : [
                {
                    name:'v6网站数量',
                    type:'line',
                    label: {
                normal: {
                    show: true,
                        position: 'top'
                }
                },
                    data:[4866,5169,5271,5323,5349,5728,5769,5796,5846,5846, 6293, {{Count1|tojson}}],
                    markPoint : {
                        data : [
                            {type : 'max', name: '最大值'},
                            {type : 'min', name: '最小值'}
                        ]
                    },
                    markLine : {
                        data : [
                            {type : 'average', name: '平均值'}
                        ]
                    },
                    itemStyle:{
                      normal:{
                        color: '#33CCFF',
                        lineStyle:{
                          color: '#33CCFF'
                        }
                      }
                    },
                    areaStyle: {
                      normal: {
                        color:{
                          type: 'linear',
                          x: 0,
                          y: 0,
                          x2: 0,
                          y2: 1,
                          colorStops: [{
                            offset: 0, color:'#6495ED'
                          },{
                            offset: 1, color:'#191970'
                          }],
                          globalCoord: false
                        }
                      }
                    }
                            }
                        ]
                    };
        myChart4.setOption(option4);
    </script>
          </td>
              </tr>
          </table>
      </tr>
      </table>
      </div>
      </div>

<link rel="stylesheet" type="text/css" href="http://www.jq22.com/jquery/font-awesome.4.6.0.css">

<style type="text/css">
a:hover, a:focus { text-decoration: none; outline: none; }
#accordion { padding-left: 0; z-index: 1; width: 200px}
#accordion .panel { border: none; box-shadow: none; }
#accordion .panel-heading { padding: 0; border-radius: 0; border: none; }
#accordion .panel-title { padding: 0; }
#accordion .panel-title a { display: block; font-size: 16px; font-weight: bold; background: #e16b47; color: #f7c59f; padding: 15px 25px; position: relative; margin-left: -24px; transition: all 0.3s ease 0s; }
#accordion .panel-title a.collapsed { background: #f7c59f; color: #e16b47; margin-left: 0; transition: all 0.3s ease 0s; }
#accordion .panel-title a:before { content: ""; border-left: 24px solid #e16b47; border-top: 24px solid transparent; border-bottom: 24px solid transparent; position: absolute; top: 0; right: -24px; transition: all 0.3s ease 0s; }
#accordion .panel-title a.collapsed:before { border-left-color: #f7c59f; }
#accordion .panel-title a:after { content: "\f106"; font-family: 'FontAwesome'; position: absolute; top: 30%; right: 15px; font-size: 18px; color: #f7c59f; }
#accordion .panel-title a.collapsed:after { content: "\f107"; color: #e16b47; }
#accordion .panel-collapse { position: relative; }
#accordion .panel-collapse.in:before { content: ""; border-right: 24px solid #f7c59f; border-bottom: 18px solid transparent; position: absolute; top: 0; left: -24px; }
#accordion .panel-body { font-size: 14px; color: #333; background: #e4e4e4; border-top: none; z-index: 1; width: 200px; height: 180px; overflow:scroll}
.jq22-header h1{ text-align:center}
body{ background-image: radial-gradient(#2828FF, #191970, black); margin: 0; padding: 0;}
</style>
<script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
<script src="http://www.jq22.com/jquery/bootstrap-3.3.4.js"></script>
<style>
.BoxWrap{
        width: 580px;
        height: 360px;
        position: relative;
      }
      .horn{
        position: absolute;
        width: 100%;
        height: 100%;
        border:1px solid darkslateblue;
      }
      .horn>div{
        width: 30px;
        height: 30px;
        position:absolute;
      }
      .horn .lt{
        border-top: 3px solid #00d3e7;
        border-left: 3px solid #00d3e7;
        left: -2px;
        top: -2px;
      }
      .horn .rt{
        border-top: 3px solid #00d3e7;
        border-right: 3px solid #00d3e7;
        right: -2px;
        top: -2px;
      }
      .horn .rb{
        border-bottom:3px solid #00d3e7;
        border-right: 3px solid #00d3e7;
        right: -2px;
        bottom: -2px;
      }
      .horn .lb{
        border-bottom:3px solid #00d3e7;
        border-left: 3px solid #00d3e7;
        left: -2px;
        bottom: -2px;
      }
</style>
{% endblock %}




